.onetask {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.onetaskcheck{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px ;

}